@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&family=Shadows+Into+Light+Two&display=swap');


body{
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

main{
    margin-top: 2em;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

footer{
    margin-top: 5em;
    background-color: #66BFBF;
    padding: 2rem;
}

a:hover{
    color: #40514E;
}

footer>p{
    margin-top: 3em;
    margin-bottom: 0;
    color: white;
    font-size: small;
}

#portrait{
    width: 150px;
    border-radius: 100%;
}

.top-container{
    background-color: aliceblue;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 250px;
}
.profile-description{
    width: 50%;
    margin: 0 auto 0 auto;
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

/* .teamwork-img{
    float: left;
    margin-right: 30px
}

.coding-img{
    float: right;
    margin-left: 30px
} */

.skills{
    display: flex;
    flex-direction: column;
}


.skill-row{
    display: flex;
    align-items: center;
}

.skill-img{
    height: 20%;
    width: 20%;
    margin-right: 3em;
}

.btn {
    border: none;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
    color: #11999E;
    text-decoration: none;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

/* 

.projects-box{
    margin: 7em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project img{
    width: 60%;
    border-radius: 10px;
    border: 2px solid #11999E;
}

.project img:hover{
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.p3 img, .p4 img{
    height: 300px;  
    width: auto;  
} 

*/

.carousel{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.carousel-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 600px;
    cursor: pointer;
}

.to-do-img, .tic-tac-toe-img{
    max-width: 550px;  
}

.carousel-track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 400ms ease-in;
}

.carousel-slide{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel-btn--left{
    left: -16px;
}

.carousel-btn--right{
    right: -40px;
}
.carousel-btn img{
    width: 12px;
}


.carousel-nav{
    /* background: pink; */
    margin-top: 5%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0, .3);
    margin: 0 10px;
}

.carousel-indicator.current-slide{
    background-color: rgb(0, 0, 0, .75);
}












/* footer */
.credits-container{
    border: 1px solid #11999E;
    margin: 0 auto 0 auto;
    margin-top: 2em;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
}

.credits{
    text-decoration: none;
    color: #11999E;
}

.credits-title{
    margin-top: 0;
}


/* SMALL DEVICES */
@media only screen and (max-width: 1200px) {
    .bottom-cloud{ 
        left: 150px;
    }

    .top-cloud{
        right: 200px;
    }
}

@media only screen and (max-width: 775px) {
    .top-cloud, .bottom-cloud{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    .mountain{
        width: 50%;
    }

    h1{
        margin-top: 0px;
        font-size: 5rem;
    }

    .top-container{
        padding-top: 2em;
    }

    body{
        min-width: 340px;
    }
}

/* BIG DEVICES */
@media only screen and (min-width: 1940px) {
    .bottom-cloud{ 
        left: 500px;
    }

    .top-cloud{
        right: 500px;
    }
}